[submodule "home/vim/bundle/securemodelines"]
	path = home/vim/bundle/securemodelines
	url = https://github.com/ciaranm/securemodelines
[submodule "home/vim/bundle/a"]
	path = home/vim/bundle/a
	url = https://github.com/vim-scripts/a.vim
[submodule "home/vim/bundle/colorscheme-lizard"]
	path = home/vim/bundle/colorscheme-lizard
	url = https://github.com/gilsondev/lizard
[submodule "home/vim/bundle/ft-dockerfile"]
	path = home/vim/bundle/ft-dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim
[submodule "home/vim/bundle/ft-json"]
	path = home/vim/bundle/ft-json
	url = https://github.com/elzr/vim-json
[submodule "home/vim/bundle/ft-scala"]
	path = home/vim/bundle/ft-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule "home/vim/bundle/gitgutter"]
	path = home/vim/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "home/vim/bundle/localvimrc"]
	path = home/vim/bundle/localvimrc
	url = https://github.com/embear/vim-localvimrc
[submodule "home/vim/bundle/neosnippet"]
	path = home/vim/bundle/neosnippet
	url = https://github.com/Shougo/neosnippet.vim
[submodule "home/vim/bundle/speeddating"]
	path = home/vim/bundle/speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "home/vim/bundle/startify"]
	path = home/vim/bundle/startify
	url = https://github.com/mhinz/vim-startify
[submodule "home/vim/bundle/swapit"]
	path = home/vim/bundle/swapit
	url = https://github.com/mjbrownie/swapit
[submodule "home/vim/bundle/syntastic"]
	path = home/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "home/vim/bundle/tagbar"]
	path = home/vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "home/vim/bundle/taghighlight"]
	path = home/vim/bundle/taghighlight
	url = https://github.com/vim-scripts/TagHighlight
[submodule "home/vim/bundle/ft-go"]
	path = home/vim/bundle/ft-go
	url = https://github.com/fatih/vim-go
[submodule "home/vim/bundle/ft-haskell-conceal"]
	path = home/vim/bundle/ft-haskell-conceal
	url = https://github.com/Twinside/vim-haskellConceal
[submodule "home/vim/bundle/neosnippet-snippets"]
	path = home/vim/bundle/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets
[submodule "home/vim/bundle/airline"]
	path = home/vim/bundle/airline
	url = https://github.com/vim-airline/vim-airline
[submodule "home/vim/bundle/vim-surround"]
	path = home/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "home/vim/bundle/surround"]
	path = home/vim/bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "home/vim/bundle/ft-rust"]
	path = home/vim/bundle/ft-rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule "home/vim/bundle/neomake"]
	path = home/vim/bundle/neomake
	url = https://github.com/neomake/neomake
[submodule "home/vim/bundle/tokei"]
	path = home/vim/bundle/tokei
	url = https://github.com/vmchale/tokei-vim
[submodule "home/vim/bundle/airline-themes"]
	path = home/vim/bundle/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "home/vim/bundle/ft-slack"]
	path = home/vim/bundle/ft-slack
	url = https://github.com/uptech/vim-slack-format.git
[submodule "home/vim/bundle/ft-yaml-fold"]
	path = home/vim/bundle/ft-yaml-fold
	url = git@github.com:digitalrounin/vim-yaml-folds
[submodule "home/vim/bundle/coc"]
	path = home/vim/bundle/coc
	url = git@github.com:neoclide/coc.nvim
[submodule "home/vim/bundle/colorscheme-ayu"]
	path = home/vim/bundle/colorscheme-ayu
	url = git@github.com:ayu-theme/ayu-vim
[submodule "home/vim/bundle/colorscheme-gruvbox"]
	path = home/vim/bundle/colorscheme-gruvbox
	url = git@github.com:morhetz/gruvbox
[submodule "home/vim/bundle/colorscheme-molokai"]
	path = home/vim/bundle/colorscheme-molokai
	url = git@github.com:tomasr/molokai
[submodule "home/vim/bundle/colorscheme-atom-dark"]
	path = home/vim/bundle/colorscheme-atom-dark
	url = git@github.com:gosukiwi/vim-atom-dark
[submodule "home/vim/bundle/colorscheme-badwolf"]
	path = home/vim/bundle/colorscheme-badwolf
	url = git@github.com:sjl/badwolf
[submodule "home/vim/bundle/colorscheme-tender"]
	path = home/vim/bundle/colorscheme-tender
	url = git@github.com:jacoborus/tender.vim
[submodule "home/vim/bundle/colorscheme-jellybeans"]
	path = home/vim/bundle/colorscheme-jellybeans
	url = git@github.com:nanotech/jellybeans.vim
[submodule "home/vim/bundle/colorscheme-wombat256i"]
	path = home/vim/bundle/colorscheme-wombat256i
	url = git@github.com:dsolstad/vim-wombat256i
[submodule "home/vim/bundle/colorscheme-wombat256grf"]
	path = home/vim/bundle/colorscheme-wombat256grf
	url = git@github.com:gryf/wombat256grf
[submodule "securemodelines/"]
	url = https://github.com/ciaranm/securemodelines
