<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                  http://maven.apache.org/xsd/settings-1.0.0.xsd">
<!-- See /etc/maven/settings.xml -->
  <proxies>
   <proxy>
      <active>true</active>
      <protocol>http</protocol>
      <host>www-proxy.exu.ericsson.se</host>
      <port>8080</port>
      <!--username>proxyuser</username>
      <password>somepassword</password-->
      <nonProxyHosts>*.ericsson.*|localhost</nonProxyHosts>
    </proxy>
  </proxies>
</settings>
